/*menu*/
.menu-top, .footer-main{
	max-height: 200px !important;
	height: 170px;
	box-shadow: 1px 1px 7px;
}
menu-top{
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0, 0.5);
	background-color: 1px 1px 7px rgba(0,0,0, 0.5);
}

menu-top .fa-search{
	position: absolute;
    right: 27px;
    top: 22px;
    font-size: 27px;
    color: #0c6e79;
}


button.navbar-toggler{
    position: absolute;
    right: 18px;
    top: 22px;
}
@media screen and (max-width: 992px) {
	li.nav-item{
		position: relative;
	}
	li.nav-item .fa{
		position: absolute;
	    left: 20%;
	    top: 4px;
	}
	.cart-list{
		left: 0 !important;
	}
	.cart-cont{
		right: 18px !important;
	}
}
@media screen and (min-width: 992px) {
	.hidden{
		display: none !important;
	}

}
a.nav-item .fa{
	font-size: 15px;
}
menu-top input + div{
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.5);
	z-index: 1000;
}
menu-top input{
	z-index: 1334;
	position: relative;
}

/*menu cart*/
.cart-cont{
	position: absolute;
    right: -29px;
    /* left: 110px; */
    top: -5px;
    background: aliceblue;
    border-radius: 50%;
    /* padding: 7px 15px; */
    width: 38px;
    height: 38px;
}
.cart-cont span{
	position: relative;
    /* left: 6px; */
    top: 7px;
    text-align: center;
    width: 100%;
}

.cart-list{
	border: none; 
	left: -500px; 
	position: absolute; 
	overflow-y:auto; 
	max-height: 500px;
}


/*foooter*/
.footer-main{
    height: 100px !important;
}

/**/
.name-company{
	letter-spacing: 3px;
	font-weight: 600;
	font-size: 20px;
}

.name-company .fa-beer{
	font-size: 69px;
	vertical-align: -21px;
}

/*icons*/
.fa{
	font-size: 30px;
}

/*cards*/
.card.product:hover{
	-webkit-box-shadow: 0px 1px 10px 0 rgb(172, 215, 249);
	-moz-box-shadow: 0px 1px 10px 0 rgb(172, 215, 249);
	box-shadow: 0px 1px 10px 0 rgb(172, 215, 249);
	position: relative;
	z-index: 1000;
}
.card-animation.ng-leave {
	animation: bounceOut 0.5s;
}

.card-animation.ng-enter {
	animation: bounceIn 0.7s;
}


/*filters*/
.filters{

}

@media screen and (min-width: 576px) {
	.card.product {
		min-height: 521px;
    	max-height: 521px;
	}
	.card.product .body{
		position: relative;
	}
	.card.product .body-bottom{
		position: absolute;
		bottom: 26px;
	}
}

/*table checkout component*/
.table.search {
	position: absolute;
    z-index: 2000;
    overflow-y: scroll;
    max-width: 526px;
    max-height: 500px;
    top: 54px;
}


.table-header-desc{
	position: relative;
}
.table-header-desc span{
	position: absolute;
    right: 0;
    font-weight: 200;
    letter-spacing: -1px;
}

#table-container {
  background: white;
  min-width: 400px;
}


.lines {
  border-bottom: thin solid #e1e3e3;
  position: relative;
}

.lines:last-child {
	border: none;
}


.lines .cols {
  width: 200px;
  padding: 16px 0;
  display: table-cell;
  vertical-align:top;
  text-align: center;
}


@keyframes expanded {
  from { left: 50%; width: 0}
  to { left: 0; width: 100%}
}


.modal h4{
  font-weight: 600;
}


#table-container input{
	border: none;
    border-bottom: thin solid #2196f3;
    background: rgba(0, 0, 0, 0.71);
    color: white;
}

/*main body colors*/
body{
  background: linear-gradient(325deg, #fcd89d, #4abbc7);
}

.box-shadow{
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 1px 7px rgba(0,0,0, 0.5);
	background-color: 1px 1px 7px rgba(0,0,0, 0.5);
}

/*pace loader*/
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

}
.pace-progress {
	background: #263238;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}
.pace-inactive {
	display: none;
}

/*container*/
.main-container{
	margin-top: 111px;
}		
@media screen and (max-width: 792px) {
	.main-container{
			margin-top: 140px ;
	}
}

/*image outline*/
img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/*scroll bar table*/
::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #000;
}

/*btn patterns*/
.color-primary{
	background: #4ABBC7;
}
.color-secondary{	
	background: #4ABBC7;
}
.btn-primary {
    color: #fff;
    background-color: #f07306;
    border-color: #f07306;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d26b12;
    border-color: #d26b12;
}

button.btn-primary:focus{
	background: #d26b12 !important;
	border-color: #c7630b;
}

/*product detail*/
.breadcrumb{
	background: linear-gradient(91deg, #75c5c5, #afccb0);
}
.breadcrumb-item a {
	text-decoration: none;
    color: #d7ecf0;
}

.product-desc{
	box-shadow: 0 0 1px 0px;
}

.product-desc p,h2, div{
	color: #5c6263;
}
.card.detail{
	background: transparent;
}
.fa.fa-angle-right,.fa.fa-angle-left{
	font-size: 73px;
    color: black;
}