<nav class="navbar navbar-expand-lg navbar-light color-primary text-center" ng-controller="MenuController" style="padding: 0">
	<div class="container" style="position: relative;">
	  	<a class="navbar-brand name-company" href="/home" style="margin-left: 4%;">
	  		<!-- <i class="fa fa-beer" aria-hidden="true"></i> -->
	  		<img src="img/logo.png" width=170 alt="">
	  		<!-- <img src="img/BringmyBee.png" width=100 alt=""> -->
	  		<!-- Bring My Beer -->
	  	</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
		  	<form class="form-group pt-3 col-md-6 col-sm-12 mx-auto">
		  	  	<i class="fa fa-search" aria-hidden="true"></i>
		      	<input ng-model="searchDesc" 
		      		   ng-model-options="{debounce: 500}" 
		      		   ng-change="searchField()" 
		      		   class="form-control rounded-0" 
		      		   type="search" 
		      		   placeholder="Search" 
		      		   aria-label="Search"
		      		   ng-focus="showList=true;">
	      		    <div ng-click="teste()" ng-if="showList">
	      		    </div>
			   		<div id="table-container" class="table search" ng-if="showList">
						<div class="lines" style="width: 100%" ng-repeat="product in productSearch" >
							<div class="px-5 py-3" style="width: 100%" ng-click="goToDetail(product._id)">
						   		<img src="{{product.images[0]}}"  width=60 class="img-responsive">
						   		<b>{{product.name}}</b>
						   		<p class="text-secondary">{{product.desc}}</p>
						   	</div>
						</div>
				   	</div>
		    </form>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa fa-user-o" aria-hidden="true"></i>
						Minha Conta
					</a>
				<!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
				</li>
				<li class="nav-item">
					<div class="dropdown">
						<a class="nav-link" ng-click="test()" data-toggle="collapse" data-target="#navbarToggleExternalContent">
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
								Meu Carrinho
							<div class="cart-cont" ng-if="products.length">
								<span>{{products.length}}</span>
							</div>
						</a>
						<div ng-if="products.length" class="collapse cart-list bg-white" id="navbarToggleExternalContent">
							<div id="table-container" class="table" style="position: relative; z-index: 1" >
						  		<div class="bg-dark text-white px-5 py-3">
						  			<p class="table-header-desc text-left">
						  				Minhas Beers <br>
						  				<span style="position: relative;">SubTotal: {{subTotal | currency: 'R$' : 2}}</span>
						  				<span style="margin: -16px">
							  				<a data-toggle="collapse" 
							  				   data-target="#navbarToggleExternalContent" 
							  				   class="btn btn-success" href="/checkout">
							  				   Finalizar
							  				</a>
							  			</span>
						  			</p>
						  			
						  		</div>
								<div class="lines" ng-repeat="product in products">
								   	<div class="cols">
								   		<b>{{product.name}}</b> <br>
									 	<img ng-src="{{product.images[0]}}" width=60 class="img-circle">
								   	</div>
								   	<div class="cols">
									 	<b>Descrição</b><br>
									 	{{product.desc | limitTo: 30}}
								    </div>
								    <div class="cols">
										<b>Valor</b><br>
										{{product.price}}
								    </div>
								    <div class="cols" style="vertical-align: middle">
								    	<button ng-click="removeProduct(product)" type="button" class="btn btn-danger">Remover</button>
								    </div>
								</div>
						   	</div>
						</div>
					</div>
				</li>
		      	<li class="hidden nav-item">
			      	<a class="nav-link" href="/home">
			      		<i class="fa fa-home" aria-hidden="true"></i>
			      		Home
			      	</a>
		      	</li>			      
		      	<li class="hidden nav-item">
			      	<a class="nav-link" href="/products/category/cerveja">
			      		<i class="fa fa-beer" aria-hidden="true"></i>
			      		Cervejas
			      	</a>
		      	</li>			      
		      	<li class="hidden nav-item">
			      	<a class="nav-link" href="/products/category/vinho">
			      		<i class="fa fa-glass" aria-hidden="true"></i>
			      		Vinhos
			      	</a>
		      	</li>			      
		      	<li class="hidden nav-item">
			      	<a class="nav-link" href="/products/category/outros">
			      		Outros
			      	</a>
		      	</li>
		    </ul>
		</div>
	</div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light color-primary text-center" style="z-index: -1;">
  	<div class="container">
	    <div class="collapse navbar-collapse ">
		    <a class="text-dark nav-item nav-link active" href="/home">
		    	<i class="fa fa-home" aria-hidden="true"></i>
		    	Home
		    </a>
		    <a class="text-dark nav-item nav-link" href="/products/category/cerveja">
		    	<i class="fa fa-beer" aria-hidden="true"></i>
		    	Cervejas
		    </a>
		    <a class="text-dark nav-item nav-link" href="/products/category/vinho">
		    	<i class="fa fa-glass" aria-hidden="true"></i>
		    	Vinhos
		    </a>
		    <a class="text-dark nav-item nav-link" href="/products/category/outros">Outros</a>
		</div>
	</div>
</nav>

