<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb rounded-0">
    <li class="breadcrumb-item"><a ng-click="back()" href="#">Escolhendo Produtos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
    <li class="breadcrumb-item"><a href="/payment">Autenticação</a></li>
    <li class="breadcrumb-item"><a href="/payment">Confirmar Pagamento</a></li>
  </ol>
</nav>
<div class="row">
   	<div class="col-md-8 mx-auto">
	  <cart products="products"
			message="Você não possui produtos no carrinho de compras ainda ;("
			controls="true"
			button-text="Finalizar Pedido"
			action="goTo('payment')"
			sub-total="subTotal"
			remove="true">
		</cart>
   	</div>
</div> 