<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb rounded-0">
    <li class="breadcrumb-item"><a ng-click="back()" href="#">Escolhendo Produtos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
    <li class="breadcrumb-item"><a href="/payment">Autenticação</a></li>
    <li class="breadcrumb-item"><a href="/payment">Confirmar Pagamento</a></li>
  </ol>
</nav>
<div class="row">
   	<div class="col-md-8 mx-auto">
	   	<div class="alert alert-info" ng-if="!products.length">
	   		Você não possui produtos no carrinho de compras ainda ;(
	   	</div>
	  	<table class="table beers bg-white mt-3 border border-info" ng-if="products.length">
		  <thead >
		    <tr class="thead-dark border border-info">
		      <th scope="col">Minhas Beers</th>
		      <th scope="col"></th>
		      <!-- <th scope="col">desc</th> -->
		      <!-- <th scope="col"></th> -->
		      <th scope="col" class="text-right">SubTotal {{subTotal | currency : 'R$' : 2}}</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr  ng-repeat="product in products">
		      <td>
		      	<img src="{{product.images[0]}}" width=60 class="img-circle" />
		      	{{product.name}}
		      </td>
<!-- 		      <td>
		      	{{product.desc}}
		      </td> -->
		      <td>
		      	{{(product.price * product.quantity * (1-(product.off/100))) | currency : 'R$' : 2}}
		      </td>
		      <td>
		      	<div class="input-group bg-white">
					<span class="input-group-addon bg-white border-0">
						<button class="btn btn-outline-success" ng-click="increment(product)">+</button>
					</span>
				  	<input style="min-width: 40px"
				  		   ng-model="product.quantity" 
				  		   ng-change="getTotal(product)"
				  		   type="text" 
				  		   class="form-control text-white text-center bg-dark" 
				  		   aria-label="Amount (to the nearest dollar)">
				  	<span class="input-group-addon bg-white border-0">
				  		<button class="btn btn-outline-danger" ng-click="decrement(product)">-</button>
				  	</span>
				</div>
		      </td>
		    </tr>
		  </tbody>
		</table>
		<div class="text-right">
	   		<a href="/payment" class="btn btn-success rounded-0">Finalizar Pedido</a>
	   	</div>
   	</div>
</div>

<style>
#table-container{
	min-width: 340px;
	width: 100%;
}
thead > tr > th {
	vertical-align: middle !important;
}
.button-edit{
	width: 100%;
}

@media screen and (max-width: 420px){
	.beers table, .beers thead, .beers tr, .beers td, .beers tbody {
		display: block !important;
		text-align: center;
	}
	.beers td{
		border: 0;
	}

	.beers td:last-child{
		border-bottom: thin gray solid;
	}
	.beers thead{
		display: none !important;
	}
	#table-container{
		min-width: 300px;
	}
}
</style>