<a href="../" class="btn-lg btn btn-outline-warning rounded-0 back" >Voltar</a>
<div class="row">
  <div class="col-md-2 col-sm-3 mx-auto">
    <img src="img/logo.png" class="img-fluid w-100 login-logo" alt="">
  </div>
</div> 
<video-background></video-background>
<div class="row">
  <form name="formLogin" 
        class="ml-auto mr-auto  px-5 col-md-4 col-sm-6 form-container bg-light box-shadow mt-5 animated bounceIn"
        ng-submit="login()">
    <div class="form-header pt-3 pb-2 ">
        <h4 class="text-center"><a href="/register" class="badge text-secondary badge-light">Cadastre-se Agora! </a></h4>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text"
             class="form-control"
             name="email"
             ng-model="user.email"
             required>
             <div ng-if="formLogin.email.$error.required && !formLogin.email.$pristine" class="alert alert-warning rounded-0">
               Este campo é obrigatório
             </div>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password"
             class="form-control"
             name="password"
             ng-model="user.senha"
             required>
            <div ng-if="formLogin.password.$error.required && !formLogin.password.$pristine" class="alert alert-warning rounded-0">
               Este campo é obrigatório
            </div>
    </div>
    <div class="text-center my-5">
      <button type="submit" 
              class="btn btn-warning login" 
              ng-disabled="formLogin.$invalid">ENTRAR
      </button>
      <a href="#" ng-click="showPassword()" class="btn btn-outline-secondary mt-2 login">Esqueceu a senha</a>
    </div>
  </form>
  <form name="formRecovery" class="px-5 mr-auto  col-md-4 col-sm-6 form-container bg-light box-shadow mt-5" ng-if="show">
    <div class="form-header pt-3 pb-2">
      <h4>Digite o e-mail</h4>
    </div>
    <div class="form-group">
      <label for="nome">E-mail</label>
      <input type="text"
             class="form-control"
             ng-model="email"
             name="email"
             required="">
            <div ng-if="formRecovery.email.$error.required && !formRecovery.email.$pristine" class="alert alert-warning rounded-0">
               Este campo é obrigatório
            </div>
    </div>
    <div class="text-center">
       <a href="#" class="btn btn-primary login">Enviar</a>
    </div>
    <p class="secondary pt-3">A mensagem de recuperação de senha pode levar algum tempo até que chege ao destinatário agradecemos a compreemção</p>
  </form>
</div>
<style>
  .form-container{
    position: relative;
    z-index: 2001;
  }

  @media (min-width: 767px) {
    body{
      overflow: hidden;
    }

    .main-container{
      margin-top: -1%;
    }
   
  }

  .back{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2001;
  }
  @media (max-width: 767px) {
    .back.btn{
      display: none;
    }

    .login-logo{
      display: none;
    }

    .form-container{
      position:inherit;
      z-index: 0;
    }
  }
  .login-logo{
    position: relative;
    z-index: 2001;
  }
</style>