<div class="row">
  <form id="semcadastro" name="semcadastro" action="#" class="col-md-6 form-container">
    <div class="form-header">
      <h4>AINDA NÃO POSSUI CADASTRO?</h4>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text"
             class="form-control"
             name="email"
             id="emaillogin"
             >
    </div>
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="text"
             class="form-control"
             name="cpf"
             id="cpf"
             required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             class="form-control"
             name="email"
             id="email"
             required>
    </div>
    <div class="form-group">
      <label for="telefone">DDD + Telefone</label>
      <input type="number"
             class="form-control"
             name="telefone"
             id="telefone"
             required>
    </div>
   <!--  <div class="form-group">
      <label for="telefone">Empresa</label>
      <input type="number"
             class="form-control"
             name="empresa"
             id="empresa"
             required>
    </div>
    <div class="form-group">
      <label for="cnpj">CNPJ</label>
      <input type="number"
             class="form-control"
             name="cnpj"
             id="cnpj"
             required>
    </div> -->
    <a href="/payment" class="btn btn-primary">Prosseguir</a>
  </form>
  
  <form id="cadastrado" action="#" class="col-md-6 form-container">
    <div class="form-header">
      <h4>JÁ TEM CADASTRO?</h4>
    </div>
    <div class="form-group">
      <label for="nome">E-mail</label>
      <input type="text"
             class="form-control"
             name="email">
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password"
             class="form-control"
             name="senha">
    </div>
    <a href="/payment" class="btn btn-primary">ENTRAR</a>
  </form>
</div>

<style>
/*  @import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  background-color: #daecff;
  font-family: 'Roboto', sans-serif;
}*/

/*h4{
  color: #51b0f1;
  // color: #adb8c3;
  font-weight: 600;
  text-align: center;
}

h5{
  color: #adb8c3;
  font-weight: 400;
  text-align: center;
}*/


.form-control{
  border-radius: 7px;
  border: 1.5px #adb8c3 solid;
  background: #f8f8f8 !important;
}

.form-header{
  padding: 30px 0 15px 0;
}

.form-container{
  margin: 50px 0 50px 0;
  max-width: 500px;
  height: 100%;
  background: #f8f8f8;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

label {
  position: relative;
  left: 10px;
  bottom: -8px;
  color: #adb8c3;
  font-weight: 600;
}

.form-container a{
  width: 80%;
  margin: 20px 10%;
  border-radius: 30px;
  background: #51b0f1;
  border: none;
}

#cadastrado{
  left: 1%;
  box-sizing: border-box;
}
#semcadastro{
  right: 1%;
  margin: 50px auto;
  position: relative;
}

.error{
  color: #E33927;
}

</style>
