<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb rounded-0">
    <li class="breadcrumb-item"><a href="/home">Escolhendo Produtos</a></li>
    <li class="breadcrumb-item"><a href="/checkout">Checkout</a></li>
    <li class="breadcrumb-item"><a href="/payment">Autenticação</a></li>
    <li class="breadcrumb-item active" aria-current="page">Confirmar Pagamento</li>
  </ol> 
</nav>
<div class="row">
   	<div class="col-md-4 text-center" ng-if="user">
   		<!-- address datas -->
	   	<table class="table bg-light mt-3" ng-hide="editAddress">
		  <thead>
		    <tr class="thead-dark">
		      <th scope="col">Meus Endereços</th>
		      <th scope="col">Selecionar</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="endereco in user.enderecos track by endereco.idEndereco">
		      <td>
		      	<p>{{endereco.logradouro}}, {{endereco.cidade}}, {{endereco.estado}}, {{endereco.cep}}, {{endereco.numero}}</p>
		      </td>
		      <td>
		      	<button type="button" class="btn col-md-12 rounded-0 button-edit" 
		      			ng-class="!endereco.principal ? 'btn-success' : 'btn-danger'"
		      			ng-click="selectecAddress(endereco)">
		      		{{!endereco.principal ? 'Selecionar' : 'Endereço de entrega'}}
		      	</button>
		      </td>
		    </tr>
		  </tbody>
		</table>
		<div class="row" ng-hide="!editAddress">
			<div ng-repeat="endereco in user.enderecos track by endereco.idEndereco" ng-controller="AddressController" class="px-2 mx-auto">
				<user-address titles="['Meus endereços']" 
							  model="endereco"
							  disabled="!endereco.disabled"
							  edit="getAddress(endereco, $index)">
			    </user-address>
				<div class="row px-2">
					<button type="button" 
							class="btn w-50 mx-auto rounded-0 button-edit btn-success" 
				  			ng-click="updateAddress(endereco);edit();">
				  			Salvar
				  	</button>			
				</div>
			</div>
		</div>
		<div class="btn-group w-100 my-2">
			<button type="button" 
					class="btn col-md-12 rounded-0 button-edit btn-dark w-50"
					data-toggle="modal" data-target="#exampleModal">Inserir novo endereço</button>
			<button type="button" 
					class="btn col-md-12 rounded-0 button-edit w-50" 
					ng-class="!editAddress ? 'btn-warning' : 'btn-danger'" 
					ng-click="edit()">
				{{!editAddress ? 'Editar': 'Cancelar'}}
			</button>
		</div>
		<!-- persona datas -->
		<div ng-controller="HomeUserController">
			<user-data  titles="['Meus Dados']" 
				model="user" 
				action="alterar" 
				disabled="disable" 
				edit="updateUser(user)">
			</user-data>
		</div>
   	</div>
	<div class="col-md-4">
		<div class="card rounded-0">
			<div class="card-header rounded-0 text-white" style="background: #212529">
				<h5>Forma de Pagamento</h5>
			</div>
			<nav class="nav nav-pills text-center w-100" id="myTab" role="tablist">
			  <a class="nav-item nav-link active rounded-0 w-50" 
			  	 id="nav-home-tab" 
			  	 data-toggle="tab" 
			  	 href="#nav-home" 
			  	 role="tab" 
			  	 aria-controls="nav-home" 
			  	 aria-selected="true"
			  	 ng-click="type=1">Boleto</a>
			  <a class="nav-item nav-link rounded-0 w-50" 
			  	 id="nav-profile-tab" 
			  	 data-toggle="tab"
			  	 href="#nav-profile" 
			  	 role="tab" 
			  	 aria-controls="nav-profile" 
			  	 aria-selected="false"
			  	 ng-click="type=2">Cartão</a>
			</nav>
			<div class="tab-content" id="nav-tabContent">
			  <div class="tab-pane fade show active px-5 py-5 text-center" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			  	<div class="text-center">
			  	 	<img src="img/boleto.png" alt="">
			  	</div>
			  	Forma escolhida Boleto Bancário
			  </div>
			  <div class="tab-pane fade px-5 py-5" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			  	 	<div class="content">
			  	 		<div class="text-center">
			  	 			<img src="img/payments-card.png" alt="">
			  	 		</div>
				    	<div class="form-group">
				    		<label for="card">Número do cartão</label>
				    		<input type="text" 
				    		       name="card"
				    		       ng-model="number"
				    		       input-mask="{mask: '9999 9999 9999 9999 999'}"
				    			   class="form-control col-md-10" />
				    	</div>
				    	<div class="form-group">
				    		<label for="card">Nome impresso no cartão </label>
				    		<input type="text" name="card" class="form-control" />
				    	</div>
				    	<div class="row">
					    	<div class="col-md-4 col-sm-4">
						    		<label>Vencimento</label>
							    	<input class="form-control text-center col-md-12"
							    		   ng-model="deadline"
							    		   placeholder="M/A" 
							    		   input-mask="{mask: '99/99'}" />
					    	</div>
					    	<div class="col-md-4">
					    		<label for="parc">
						    		Parcelas
					    		</label>
						    		<select class="form-control text-center col-md-12">
						    			<option value="">1</option>
						    			<option value="">2</option>
						    			<option value="">3</option>
						    			<option value="">4</option>
						    		</select>
					    	</div>
				    	</div>
				    </div>
			  </div>
			</div>
			<a class="btn btn-success text-white col-md-12 rounded-0" 
	  		    ng-click="buy();">
			    Confirmar
			</a>
		</div>

	</div>	
	<div class="col-md-4">
		<table class="table beers bg-white mt-3" ng-if="products.length">
		  <thead >
		    <tr class="thead-dark border border-0">
		      <th scope="col">Revisão dos produtos</th>
		      <!-- <th scope="col">desc</th> -->
		      <th scope="col"> </th>
		      <th scope="col" class="text-right">SubTotal {{subTotal | currency : 'R$' : 2}}</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr  ng-repeat="product in products">
		      <td class="text-center">
		      	<img src="{{product.foto.path}}" width=60 class="img-circle" />
		      </td>
		      <td class="text-center">
		      	{{product.produto}}
		      	<p>
		      		<span class="secondary">Quantidae: {{product.quantidade}}</span>
		      	</p>
		      </td>
<!-- 		      <td>
		      	{{product.desc}}
		      </td> -->
		      <td class="text-center">
		      	{{(product.preco * product.quantidade * (1-(product.desconto/100) || 1)) | currency : 'R$' : 2}}
		      </td>
		    </tr>
		  </tbody>
		</table>
		<div class="bg-dark py-2 w-100 text-center text-white" ng-if="total">
			Valor com frete: {{ total | currency: 'R$' : 2}}
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-controller="AddressController">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Endereço</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<user-address titles="['Preencha o dados']" 
					  model="newAddress"
					  disabled="true"
					  edit="getAddress(newAddress, -1)">
	    </user-address>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button class="btn btn-primary" data-dismiss="modal" ng-click="insertAddress(newAddress)">Concluir</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal servicos-->
<div class="modal fade" id="novoservico" tabindex="-1" role="dialog" aria-labelledby="novoservicolabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="servicoModalLabel">Serviços de Entrega</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="py-1 text-secondary" ng-if="fretes.length">
			<div ng-repeat="frete in fretes" class="bg-light box-shadow my-1 py-3 px-3" ng-hide="frete.PrazoEntrega == 0">
				Serviço: {{frete.Codigo===40010 ? 'SEDEX Varejo' : ''}} {{frete.Codigo===41106 ? 'PAC Varejo' : ''}} {{frete.Codigo===40215 ? 'SEDEX 10 Varejo' : ''}} <br>
					Prazo de Entrega: <b> {{frete.PrazoEntrega}} Dias úteis</b> <br>
					Valor: <b class="text-success"> {{frete.Valor}} </b> <br>
				<div class="alert alert-danger rounded-0 my-2" ng-ig="frete.obsFim">
					{{frete.obsFim}}
				</div>
				<button type="button" data-dismiss="modal" class="btn btn-success w-100 my-2 rounded-0" ng-click="selectFrete(frete)">Selecionar</button>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>
<style>
	.meu-carrinho{
		display: none;
	}
</style>