<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb rounded-0">
    <li class="breadcrumb-item"><a href="/home">Escolhendo Produtos</a></li>
    <li class="breadcrumb-item"><a href="/checkout">Checkout</a></li>
    <li class="breadcrumb-item"><a href="/payment">Autenticação</a></li>
    <li class="breadcrumb-item active" aria-current="page">Confirmar Pagamento</li>
  </ol>
</nav>
<div class="row">
   	<div class="col-md-4 text-center" ng-if="user">
   		<!-- address datas -->
	   	<table class="table bg-light mt-3">
		  <thead>
		    <tr class="thead-dark">
		      <th scope="col">Meus Endereços</th>
		      <th scope="col">Selecionar</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="address in user.address">
		      <td>
		      	<p>{{address.address}}, {{address.city}}, {{address.state}}, {{address.zipcode}}.</p>
		      </td>
		      <td>
		      	<button type="button" class="btn col-md-12 rounded-0 button-edit btn-warning">Alterar</button>
		      	<button type="button" class="btn col-md-12 rounded-0 button-edit btn-success">Selecionar</button>
		      </td>
		    </tr>
		  </tbody>
		</table>
		<div class="my-2">
			<button type="button" class="btn col-md-12 rounded-0 button-edit btn-warning">Inserir novo endereço</button>
		</div>
		<!-- persona datas -->
		<table class="table bg-light mt-3 col-md-12 ">
		  <thead>
		    <tr class="thead-dark">
		      <th scope="col">Meu Dados</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">
		      	<p>Nome: {{user.name}}</p>
		      	<p>Sobrenome: {{user.lastname}}</p>
		      	<p>Nascimento: {{user.birthday}}</p>
		      	<p>CPF: {{user.cpf}}</p>
		      	<p>E-mail: {{user.email}}</p>
		      	<p>TEL: {{user.tel}} / CEL: {{user.tellphone}}</p>
		      	<button type="button" class="btn col-md-12 col-sm-12 rounded-0 button-edit btn-warning">Alterar</button>
		      </th>
		    </tr>
		  </tbody>
		</table>
   	</div>

	<div class="col-md-4">
		<div class="card rounded-0">
			<div class="card-header rounded-0 text-white" style="background: #212529">
				<h5>Forma de Pagamento</h5>
			</div>
	  		<a class="btn btn-warning col-md-12 rounded-0 mb-2" 
	  		     data-toggle="collapse" 
	  		     href="#" 
	  		     aria-expanded="false" 
	  		     aria-controls="collapseExample"
	  		     ng-click="changePayment()">
			    Deseja Pagar em {{type !='Boleto' ? 'Cartão de crédito' : 'Boleto' }}?
			</a>
			<div class=" px-2 py-3 mx-auto" ng-if="type!='Cartão de crédito'">
			    <div class="content">
			    	<div class="form-group">
			    		<label for="card">Número do cartão</label>
			    		<input type="text" 
			    		       name="card"
			    		       ng-model="number"
			    		       input-mask="{mask: '9999 9999 9999 9999 999'}"
			    			   class="form-control col-md-10" />
			    	</div>
			    	<div class="form-group">
			    		<label for="card">Nome impresso no cartão </label>
			    		<input type="text" name="card" class="form-control" />
			    	</div>
			    	<div class="row">
				    	<div class="col-md-4 col-sm-4">
					    		<label>Vencimento</label>
						    	<input class="form-control text-center col-md-12"
						    		   ng-model="deadline"
						    		   placeholder="M/A" 
						    		   input-mask="{mask: '99/99'}" />
				    	</div>
				    	<div class="col-md-4">
				    		<label for="parc">
					    		Parcelas
				    		</label>
					    		<select class="form-control text-center col-md-12">
					    			<option value="">1</option>
					    			<option value="">2</option>
					    			<option value="">3</option>
					    			<option value="">4</option>
					    		</select>
				    	</div>
			    	</div>
			    </div>
			</div>
			<div class="pb-3 py-2 mx-auto" ng-if="type!='Boleto'">
			  		Boleto Bancário
			</div>
			<a class="btn btn-success col-md-12 rounded-0" 
	  		     data-toggle="collapse" 
	  		     href="#" 
	  		     aria-expanded="false" 
	  		     aria-controls="collapseExample"
	  		     ng-click="buy();">
			     Confirmar
			</a>
		</div>

	</div>	
	<div class="col-md-4">
		<table class="table beers bg-white mt-3" ng-if="products.length">
		  <thead >
		    <tr class="thead-dark border border-0">
		      <th scope="col">Revisão dos produtos</th>
		      <!-- <th scope="col">desc</th> -->
		      <th scope="col"> </th>
		      <th scope="col" class="text-right">SubTotal {{subTotal | currency : 'R$' : 2}}</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr  ng-repeat="product in products">
		      <td>
		      	<img src="{{product.images[0]}}" width=60 class="img-circle" />
		      </td>
		      <td>
		      	{{product.name}}
		      	<p>
		      		<span class="secondary">Quantidae: {{product.quantity}}</span>
		      	</p>
		      </td>
<!-- 		      <td>
		      	{{product.desc}}
		      </td> -->
		      <td>
		      	{{(product.price * product.quantity * (1-(product.off/100))) | currency : 'R$' : 2}}
		      </td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
<style>
	.meu-carrinho{
		display: none;
	}
</style>