<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb rounded-0">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/products/category/{{product.category}}">{{product.category}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
  </ol>
</nav>
<div class="row">
	<div class="col-md-6 mb-3">
		<div id="carouselExampleControls2" class="carousel slide" data-keyboard="true" data-pause="true">
		  	<div class="carousel-inner">
		  		<div class="carousel-item active">
				      <img class="d-block w-100" src="{{product.images[0]}}" alt="First slide">
				</div>
		  			<div class="carousel-item" ng-repeat="image in product.images track by $index" ng-if="$index > 0">
				      <img class="d-block w-100" src="{{image}}" alt="First slide">
				    </div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls2" ng-click="prevent();" role="button" data-slide="prev">
			    <i class="fa fa-angle-left" aria-hidden="true"></i>
			    <span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls2" ng-click="prevent();"  role="button" data-slide="next">
			    <i class="fa fa-angle-right" aria-hidden="true"></i>
			    <span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<div class="col-md-6 product-desc">
		<h2>{{product.name}}</h2>
		<hr>
		<p>{{product.desc}}</p>
		<p class="text-right"><h5 class="text-success text-center">Preço R$ {{product.price | currency: 2}}</h5></p>
		<div class="btn-group" style="width: 100%">
			<a href="/checkout" style="width: 50%" class="btn btn-default btn-success">
				Comprar
			</a>
			<a ng-click="addProduct()" style="width: 50%" class="btn btn-default btn-primary text-white">
				Adicionar ao Carrinho
			</a>
		</div>
		<div class="card detail mt-3">
			<div class="card-header">
				<h5 class="card-title">Calcular Frete</h5>
			</div>
			<div class="card-body">
				<div class="input-group">
					<input type="text" placeholder="CEP 044444-10" class="form-control"/>
					<span class="input-group-btn">
				        <button class="btn btn-warning" type="button">Buscar</button>
				    </span>
				</div>
			</div>
		</div>
	</div>
</div>
