<table class="table table-responsive beers table-hover">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Cartões</th>
			<th scope="col">Número</th>
			<th scope="col">Datas</th>
			<th scope="col">Estatus</th>
			<th scope="col">Total</th>
		</tr>
	</thead>
	<tbody class="bg-white">
		<tr ng-repeat="order in orders" ng-click="openList(order.list, $event)" style="cursor: pointer;" class="{{'lines lines'+$index}}"> 
			<td>{{order.card.brand}}</td>
			<td>{{order.card.number}}</td>
			<td>{{order.date}}</td>
			<td>{{order.state}}</td>
			<td>{{totalList(order.list) | currency : 'R$' : 2}}</td>
		</tr>
	</tbody>
</table>
<cart products="list"
	  controls="false"
	  action="cleanList()" 
	  button-text="Ocultar Lista"
	  remove="false">
</cart>